.DS_Store
.idea
.env
.env.testing
.phpunit.result.cache
phpunit.dusk.xml
auth.json

# Ignore all vendor files included by composer and the lock file
/vendor
composer.lock
node_modules

/public/vendor
!/public/vendor/igniter-orange
!/public/vendor/igniter
/public/storage

# Don't ignore media attachments - we want these deployed
!/storage/app/public/media

/storage/clockwork
/_ide_helper.php
